%div{:class => "scrollable list-block"}
	%div{class: "loading", "ng-show"=>"loading"}
		%center
			%img{:src=>"/images/loader.GIF"}

	%table{:class=>"ticket-list"}
		%tbody
			%tr
				%th{"ng-repeat" => "column in columns"}
					{{columns[$index].name}}
			%tr
				%td{"ng-repeat" => "column in columns"}
					%div{:class=>"scrollable column full-height","ui-sortable"=>"sortable_options", "ng-model"=>"column.issues"}
						%div{"ng-repeat" => "issue in column.issues"}
							%div{:class=>"ticket", "ng-click"=>"select_issue(issue)"}
								%div{class: "float-left ticket-icon"}
									%img{"ng-src" => "/icon?id={{issue.assignee.id || null}}", class: "icon"}
									%div{class: "ticket-user"}
										{{issue.assignee.name}}
								%div{class: "float-left ticket-body"}
									%div{class: "ticket-key"}
										%a{href: "/url/{{issue.issueKey}}", target: "window"}
											{{issue.issueKey}}
									%div{class: "ticket-title"}
										{{issue.summary}}
									%div{class: "ticket-status ticket-status-{{issue.status.id}}"}
										{{issue.status.name}}
									%div{class: "ticket-priority"}
										%span{class: "fa", "ng-class"=> "{'fa-arrow-up': issue.high_priority(), 'fa-arrow-right': issue.mid_priority(), 'fa-arrow-down': issue.low_priority()}"}
									%div{class: "ticket-date", "ng-show"=> "issue.dueDate"}
										%span{class: "fa fa-clock-o","ng-class"=>"{'text-danger': issue.due_over()}"}
											{{issue.dueDate|date: 'yyyy/MM/dd'}}
								%div{class: "clear"}
