%div{"ng-repeat" => "column in columns", :class=>"ticket-list"}
	%div{:class=>"list-header"}
		{{columns[$index].name}}
	%div{:class=>"list-body"}
		%ul{"ui-sortable"=>"sortable_options", "ng-model"=>"column.issues", :class=>"row"}
			%li{"ng-repeat" => "issue in column.issues"}
				%div{:class=>"ticket"}
					%div{class: "float-left ticket-icon"}
						%img{"ng-src" => "/icon?id={{issue.assignee.id}}", class: "icon"}
						%div{class: "ticket-user"}
							{{issue.assignee.name}}
					%div{class: "float-left ticket-body"}
						%div{class: "ticket-key"}
							%a{href: "/url/{{issue.issueKey}}", target: "window"}
								{{issue.issueKey}}
						%div{class: "ticket-title"}
							{{issue.summary}}
						%div{class: "ticket-status ticket-status-{{issue.status.id}}"}
							{{issue.status.name}}
					%div{class: "clear"}	