%div{:class => "scrollable list-block"}
	%div{class: "loading", "ng-show"=>"loading"}
		%center
			%img{:src=>"/images/loader.GIF"}

	%table{:class=>"ticket-list", "ng-init"=>"get_users()"}
		%tbody
			%tr
				%th{"ng-repeat" => "column in columns"}
					{{columns[$index].name}}
			%tr
				%td{"ng-repeat" => "column in columns"}
					%div{:class=>"scrollable column full-height","ui-sortable"=>"sortable_options", "ng-model"=>"column.issues"}
						%div{"ng-repeat" => "issue in column.issues"}
							%ng-include{:src => "'html/shared/issue_ticket.html'"}