%div{class: "control-panel"}
	%div{class: "btn-group"}
		%a{class: "btn btn-default", :href => "#/{{project_id}}", "ng-class" => "{active: active_mode('version')}"}
			%span{class: "fa fa-2x fa-flag"}
		%a{class: "btn btn-default", :href => "#/{{project_id}}/status", "ng-class" => "{active: active_mode('status')}"}
			%span{class: "fa fa-2x fa-tasks"}