%div{class: "control-panel"}
	%div{class: "btn-group"}
		%a{class: "btn btn-default", :href => "#/{{project_id}}"}
			%span{class: "fa fa-2x fa-flag"}
		%a{class: "btn btn-default", :href => "#/{{project_id}}/status"}
			%span{class: "fa fa-2x fa-tasks"}