%center.btn-panel
	%button{:class => "btn btn-primary btn-save", "ng-click" => "update()", "ng-disabled" => "loading"}
		%span{class: "fa fa-save"}
		{{ 'BUTTON.SAVE' | translate }}
	%button{:class => "btn btn-primary btn-reload", "ng-click"=>"refresh()", "ng-disabled" => "loading"}
		%span{class: "fa fa-refresh"}
		{{ 'BUTTON.REFRESH' | translate }}
