%div{:class=>"message_dialog alert alert-success alert-dismissible", :role=>"alert", "ng-show"=>"success"}
	%button{:type=>"button", :class=>"close"}
		%span{"aria-hidden"=>"true"}
			&times;
	{{success_message}}