%div{class: "control-panel"}
	%div{class: "btn-group", "ng-repeat" => "version in versions"}
		%a{class: "btn btn-default", "ng-class" => "{active: version.selected}","ng-click"=>"switch_version(version)"}
			{{version.name}}