%div{class: "control-block row"}
	%div{class: "col-md-1"}
		%label
			{{'VERSIONS' | translate}}
	%div{class: "col-md-11"}
		%div{class: "btn-group"}
			%a{"ng-repeat" => "version in versions", class: "btn btn-default", "ng-class" => "{active: version.selected}","ng-click"=>"switch_version(version)"}
				{{version.name}}
