%div{class: "control-panel"}
	%div{class: "btn-group", "ng-repeat" => "version in versions"}
		%a{class: "btn btn-default", :href => "#", "ng-class" => "{active: version.selected}"}
			{{version.name}}