@import "variables";

.ticket-list{
	float: left;
	width: 300px;
	border: 1px solid $border;
	.list-header{

	}
	.list-body{		
		ul{
			list-style-type: none;
			margin: 0px;
			padding-left: 0px;
			padding-bottom: 10px;
			li{
				border-bottom: 1px solid $border;
			}		
		}
	}
}
.ticket{
	background-color: $ticket;
	padding: 3px;	
}