<div class='ticket' ng-click='select_issue(issue)'>
<div class='float-left ticket-icon'>
<div class='dropdown'>
<a class='dropdown-bottun' data-toggle='dropdown'>
<img class='icon' ng-src='/icon?id={{issue.assignee.id || null}}'>
<div class='ticket-user'>
{{issue.assignee.name}}
</div>
</a>
<ul class='dropdown-menu user-menu'>
<div class='triangle'></div>
<li ng-repeat='user in users'>
<a ng-click='change_user(issue,user)'>
<img class='icon' ng-src='/icon?id={{user.id || null}}'>
{{user.name | withNull}}
</a>
</li>
</ul>
</div>
</div>
<div class='float-left ticket-body'>
<div class='ticket-key'>
<a href='/url/{{issue.issueKey}}' target='window'>
{{issue.issueKey}}
</a>
</div>
<div class='ticket-title'>
{{issue.summary}}
</div>
<div class='ticket-status ticket-status-{{issue.status.id}}'>
{{issue.status.name}}
</div>
<div class='ticket-priority'>
<span class='fa' ng-class="{'fa-arrow-up': issue.high_priority(), 'fa-arrow-right': issue.mid_priority(), 'fa-arrow-down': issue.low_priority()}"></span>
</div>
<div class='ticket-date' ng-show='issue.dueDate'>
<span class='fa fa-clock-o' ng-class="{'text-danger': issue.due_over()}">
{{issue.dueDate|date: 'yyyy/MM/dd'}}
</span>
</div>
</div>
<div class='clear'></div>
</div>
