-#encoding: utf-8
!!!
%html{"ng-app" => "App"}
  = haml :header
  %body
    / navbar
    %nav{class: "navbar navbar-inverse"}
      %div{class: "container-fluid"}
        %div{class: "navbar-header"}
          %div{class: "navbar-brand"}
            BacklogUI

        %ul{class: "nav navbar-nav"}
          %li{class: "dropdown"}
            %a{href: "", class: "dropdown-toggle", "data-toggle"=> "dropdown", role: "button", "aria-expanded"=> "false"}
              {{'PROJECTS' | translate}}
              %span{class: "caret"}
            %ul{class: "dropdown-menu", role: "menu", "ng-controller" => "projectsCtrl"}
              %li{"ng-repeat" => "project in projects"}
                %a{:href => "#/{{project.id}}/status"}
                  {{project.name}}
                  ({{project.projectKey}})

        / user-nav
        %ul{class: "nav navbar-nav navbar-right"}
          %li
            %img{src: "/my_icon", class: "icon"}
          %li{class:"dropdown"}
            %a{:href => "", :class => "dropdown-toggle", "data-toggle"=> "dropdown", "role"=> "button", "aria-expanded"=> "false"}
              =session[:user_name]
              %span{class:"caret"}
            %ul{class: "dropdown-menu", role: "menu"}
              %li
                %a{href: "/logout"}
                  %span{class: "fa fa-sign-out"}
                  {{'LOGOUT' | translate}}
    /body
    %ng-view