%head
	%meta{ charset: 'utf-8' }
	%title
		=@title
	%script{:src =>"/js/jquery.min.js"}
	%script{:src => "/js/jquery-ui-1.10.3.custom.js"}
	%script{:src => "/js/angular.min.js"}
	%script{:src => "/js/angular-route.min.js"}
	%script{:src => "/js/sortable.js"}
	%script{:src => "/js/sugar.js"}

	%script{:src => "/coffee/issue.js"}
	%script{:src => "/coffee/version.js"}
	%script{:src => "/coffee/command.js"}
	%script{:src => "/coffee/app.js"}
	%script{:src => "/coffee/projectsCtrl.js"}
	%script{:src => "/coffee/versionsCtrl.js"}
	%script{:src => "/coffee/content.js"}

	%link{:href => "/stylesheets/content.css",:rel=>"stylesheet", :type=>"text/css"}
	%link{:href => "/stylesheets/styles.css", :rel=>"stylesheet", :type=>"text/css"}

