%head
	%meta{ charset: 'utf-8' }
	%title
		=@title || settings.title
	%script{:src =>"/js/jquery.min.js"}
	%script{:src => "/js/jquery-ui-1.10.3.custom.js"}
	%script{:src => "/js/bootstrap.js"}
	%script{:src => "/js/bootstrap-sprockets.js"}
	%script{:src => "/js/angular.min.js"}
	%script{:src => "/js/angular-route.min.js"}
	%script{:src => "/js/sortable.js"}
	%script{:src => "/js/sugar.js"}

	%script{:src => "/javascripts/utils.js"}
	%script{:src => "/javascripts/issue.js"}
	%script{:src => "/javascripts/version.js"}
	%script{:src => "/javascripts/command.js"}
	%script{:src => "/javascripts/app.js"}
	%script{:src => "/javascripts/projectsCtrl.js"}
	%script{:src => "/javascripts/versionsCtrl.js"}
	%script{:src => "/javascripts/content.js"}

	%link{:href => "/stylesheets/styles.css", :rel=>"stylesheet", :type=>"text/css"}
	%link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
