!!!
%html{"ng-app" => ""}
	%head
		%title
			かんばん for Backlog
		%script{:src=>"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"}
		%script{:src => "/js/projectsCtrl.js"}
		%script{:src => "/js/versionsCtrl.js"}
	%body
		=yield