/* line 3, ../sass/content.scss */
.ticket-list {
  float: left;
  width: 300px;
  border: 1px solid #cccccc;
}
/* line 11, ../sass/content.scss */
.ticket-list .list-body ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
}
/* line 16, ../sass/content.scss */
.ticket-list .list-body ul li {
  border-bottom: 1px solid #cccccc;
}

/* line 22, ../sass/content.scss */
.ticket {
  background-color: #ddff44;
  padding: 3px;
}
