- # encoding: UTF-8
%div{"ng-repeat" => "version in versions", :class=>"ticket-list"}
	%div{:class=>"list-header"}
		{{versions[$index].name}}
	%div{:class=>"list-body"}
		%ul{"ui-sortable"=>"sortable_options", "ng-model"=>"version.issues", :class=>"row"}
			%li{"ng-repeat" => "issue in version.issues"}
				%div{:class=>"ticket"}
					{{issue.summary}}

%div{:style=>"clear:both"}
%div{"ng-repeat" => "version in versions"}
	{{version.name}}
	%ul
		%li{"ng-repeat" => "issue in version.issues"}
			{{issue.summary}}
	%br