<div class='ticket-list' ng-repeat='version in versions'>
<div class='list-header'>
{{versions[$index].name}}
</div>
<div class='list-body'>
<ul class='row' ng-model='version.issues' ui-sortable='sortable_options'>
<li ng-repeat='issue in version.issues'>
<div class='ticket'>
{{issue.summary}}
</div>
</li>
</ul>
</div>
</div>
<div style='clear:both'></div>
<dib>
<button class='btn' ng-click='update()'>
保存
</button>
</dib>
<div ng-repeat='version in versions'>
{{version.name}}
<ul>
<li ng-repeat='issue in version.issues'>
{{issue.summary}}
</li>
</ul>
<br>
</div>
