- # encoding: UTF-8
%div{:class=>"ticket-list"}
	%div{:class=>"list-header"}
		未設定
	%div{:class=>"list-body"}
		%ul{:id=>"sortable1",:class=>"connectedSortable"}
			%li{"ng-repeat" => "issue in issues | milestoneFilter:null"}
				%div{:class=>"ticket"}
					{{issue.summary}}
%div{"ng-repeat" => "version in versions", :class=>"ticket-list"}
	%div{:class=>"list-header"}
		{{version.name}}
	%div{:class=>"list-body"}
		%ul{:class=>"connectedSortable"}
			%li{"ng-repeat" => "issue in issues | milestoneFilter:version.id"}
				%div{:class=>"ticket"}
					{{issue.summary}}
