- # encoding: UTF-8
versions
%ul
	%li
		未設定
		%ul
			%li{"ng-repeat" => "issue in issues | milestoneFilter:null"}
				{{issue}}
	%li{"ng-repeat" => "version in versions"}
		{{version}}
		issues
		%ul
			%li{"ng-repeat" => "issue in issues | milestoneFilter:version.id"}
				{{issue}}

