<div class='ticket-list'>
  <div class='list-header'>
    未設定
  </div>
  <div class='list-body'>
    <ul class='connectedSortable' id='sortable1'>
      <li ng-repeat='issue in issues | milestoneFilter:null'>
        <div class='ticket'>
          {{issue.summary}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class='ticket-list' ng-repeat='version in versions'>
  <div class='list-header'>
    {{version.name}}
  </div>
  <div class='list-body'>
    <ul class='connectedSortable'>
      <li ng-repeat='issue in issues | milestoneFilter:version.id'>
        <div class='ticket'>
          {{issue.summary}}
        </div>
      </li>
    </ul>
  </div>
</div>
